<h1><%= @service.title %></h1>


<div>
    <p>Description : <%= @service.description %> </p>
    <p>Duréé du soin :  <%= @service.duration %> min </p>
    <p>Prix : <%= @service.price %> € </p>
</div>
