
<section class="page-section clearfix">
    <div class="container">
    <div class="intro">
        <%= image_tag "home_picture.jpg", class: "intro-img img-fluid product-item-img mb-3 mb-lg-0 rounded" %>
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Beauty Cure</span>
            <span class="section-heading-lower">Institut de beauté</span>
        </h2>
        <p class="mb-3">Nous garantissons la qualité des soins proposés ainsi que des produits utilisés!
        </p>
        <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Nous rendre visite</a>
        </div>
        </div>
    </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Notre promesse</span>
            <span class="section-heading-lower">Pour vous</span>
            </h2>
            <p class="mb-0">Lorsque vous penetrez dans notre intitut BeautyCure, notre personnelle sera à votre entiére disposition afin de vous prodiguez un service irréprochable, une atmosphére bienveillante et surtout, rendre votre passage chez BeautyCure, INOUBLIABLE!</p>
        </div>
        </div>
    </div>
    </div>
</section>
